<div class="jumbotron">
  <h1>Hi I'm Michael</h1>
  <p class="lead">
    <img src="images/Me.jpg" width = "200" height = "300" alt="It's me"><br>
    I'm a Stanford student from the Upper Midwest who loves everything science and technology
  </p>
</div>

<div class="row marketing">
  <h3>Skills</h3>
  <h4>Computer Programming</h4>
  <ul>
    <li>C, C++, Java, JavaScript/AngularJS, HTML, and Swift</li>
    <li>Algorithmic knowledge, including A*, search algorithms, and recursive functions</li>
    <li>Object oriented programming, abstract data types, memory and systems management</li>
    <li>Linux, MacOS, Windows, Eclipse, QT Creator, Sublime, Vim, Xcode, GitHub, Mercurial experience</li>
    <li>Web and mobile application development, responsible design</li>
  </ul>
  <h4>Scientific Research</h4>
  <ul>
    <li>Optimization of electrochemical sensors for medical devices</li>
    <li>Data collection, analysis, and presentation</li>
    <li>Lab work in professional Organic Chemistry and Cell Biology labs</li>
  </ul>
  <h4>Workplace Necessities</h4>
  <ul>
    <li>Excel, PowerPoint, Word, Cisco WebEx, Google Drive</li>
    <li>Excellent communicator, fast learner, team player, and leader</li>
  </ul>
</div>
<div class = "row marketing">
  <h3>Work Experience</h3>
  <h4>Medtronic PLC, Minneapolis, MN</h4>
  <h5>Non-intensive Diabetic Therapies Material Science Intern</h5>
  <ul>
    <li>Researched and selected new glucose sensor substrate for enhanced stability and longevity</li>
    <li>Explored chemical coatings to optimize sensor performance</li>
    <li>Collected and analyzed lab data using Excel and Minitab</li>
    <li>Presented findings in meeting of group leaders and medical device experts</li>
    <li>Gained expertise in electrochemical sensor construction and medical device development</li>
  </ul>
  <h4>Roeder Consulting Services, Plymouth, MN</h4>
  <h5>Data Entry Assistant</h5>
  <ul>
    <li>Digitized data and reorganized files for local homecare nurse recruiter</li>
    <li>Utilized CATS, Linkedin, Word, and Excel</li>
  </ul>
</div>
<div class = "row marketing">
  <h3>Education</h3>
  <h4>Stanford University, Stanford, CA</h4>
  <h5>B.S. Candidate in Computer Science</h5>
  <ul>
    <li>Course load includes Java, C++, systems, advanced calculus, economics, and chemistry</li>
    <li>Projects include memory allocator, queue/vector/map implementation, and “Google Maps”</li>
    <li>Alto Saxophonist in the Stanford Band</li>
  </ul>
  <h4>Wayzata High School, Plymouth, MN</h4>
  <ul>
    <li>4.0 GPA, Perfect ACT, 15 AP Classes, National Merit Finalist</li>
    <li>MN State Champion Quiz Bowl team captain, National Honor Society member</li>
  </ul>
</div>
<div class = "row marketing">
  <h3>Research Experience</h3>
  <h4>Topczewski Lab, University of Minnesota, Minneapolis, MN</h4>
  <h5>Volunteer Researcher</h5>
  <ul>
    <li>Studied syntheses of small organic molecules</li>
    <li>Explored reactions involving furfural</li>
  </ul>
  <h4>Chen Lab, University of Minnesota, Minneapolis, MN<</h4>
  <h5>Lab Shadow</h5>
  <ul>
    <li>Summer mentorship in cell biology lab studying adipose fat cells</li>
  </ul>
</div>

