<div class="jumbotron">
  <h1>Hi I'm Michael</h1>
  <p class="lead">
    <img src="images/Me.jpg" width = "200" height = "300" alt="It's me"><br>
    I'm a Stanford student from the Upper Midwest who loves everything science and technology
  </p>
</div>

<div class="row marketing">
  <h3>Skills</h3>
  <h4>Computer Programming</h4>
  <ul>
    <li>C, C++, Java, JavaScript/AngularJS, HTML, and Swift</li>
    <li>Algorithmic knowledge, including A*, search algorithms, and recursive functions</li>
    <li>Object oriented programming, abstract data types, memory and systems management</li>
    <li>Linux, MacOS, Windows, Eclipse, QT Creator, Sublime, Vim, Xcode, GitHub, Mercurial experience</li>
    <li>Web and mobile application development, responsible design</li>
  </ul>
  

  <h3>Work Experience</h3>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h3>Education</h3>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
